.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 110px;
    align-items: center;
}

.card {
    width: 800px;
    height: auto;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(95, 95, 95, 0.2);
    margin: 50px;
    transition: all .3s ease;
    border: solid 1px white;
}

.card:hover {
    transform: scale(1.13);
}

.card img {
    width: 100%;
    height: 500px;
}


.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    color: white;
}

.card-content p {
    color: #bebebe;
    font-size: 25px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(255, 38, 0);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 16px;
    color: #fff;
    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: scale3d(12);
}

.btn:active {
    transform: scale(0.8);
    background-color: rgb(255, 38, 0);
}




.pic-ctn {
  position: relative;
  width: 100vw;
  height: auto; /* Adjusted height to maintain aspect ratio */
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 500px); /* Center the image */
  width: 1000px; /* Set the width to 1000 pixels */
  height: auto; /* Maintain aspect ratio */
  opacity: 0;
  animation: display 10s infinite;
}

@keyframes display {
  0% {
    transform: translateX(1000px); /* Adjusted for new image width */
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-1000px); /* Adjusted for new image width */
    opacity: 0;
  }
  100% {
    transform: translateX(-1000px); /* Adjusted for new image width */
    opacity: 0;
  }
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}